<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <div th:replace="fragments/navbar :: myNavbar "></div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">

    <h1 class="text-center my-4"></h1>
    <div class="row">
        <div class="col-md-4">
            <a th:href="@{/document-upload}" tabindex="1" title="Go to Document Upload page">
                <img src="/images/upload.jpg" class="rounded mx-auto d-block img-fluid" alt="Upload">
                <p class="mt-2">Upload Document</p>
            </a>
        </div>
        <div class="col-md-4">
            <a th:href="@{/user-documents}" tabindex="2" title="Go to My Documents page">
                <img src="/images/document.jpg" class="rounded float-left img-fluid" alt="Document">
                <p class="mt-2">My Documents</p>
            </a>
        </div>
        <div class="col-md-4">
            <a th:href="@{/shared-documents}" tabindex="3" title="Go to Documents Shared With Me page">
                <img src="/images/sharedDocuments.jpg" class="rounded float-right img-fluid" alt="Shared Documents">
                <p class="mt-2">Documents Shared With Me</p>
            </a>
        </div>
        <img src="/images/dashboard.jpg" class="img-fluid" alt="Responsive image">
    </div>
</div>

<footer>
    <p>&copy; 2024 HashHub, Created By Luke Banahan.</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
