<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shared Documents</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/navbar :: myNavbar "></div>
<div th:if="${param.success}" class="alert alert-success">
   Document integrity verified.</div>
<div th:if="${param.fail}" class="alert alert-danger">
    Verification failed. The document integrity could not be verified.</div>
<div class="container">
    <h1>Documents Shared With Me</h1>
    <form action="/verify-document" method="post">
        <table class="table">
            <thead>
            <tr>
                <th>Document ID</th>
                <th>File Name</th>
                <th>File Size</th>
                <th>Shared By</th>
                <th>Sign Status</th>
                <th>Verification Status</th>
                <th>Select Document</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="document : ${sharedDocuments}">
                <td th:text="${document.id}"></td>
                <td title="This is the title of the document" th:text="${document.name}"></td>
                <td th:text="${document.size / 1024} + ' KB'"></td>
                <td title="This is the email address of the user who shared this document with you." th:text="${document.email}"></td>
                <td>
                 <span title="This document has been signed by the user who shared this document with you." th:if="${document.isSigned}">
                     <img src="/images/greentick.png" alt="True" width="20" height="20">
                 </span>
                    <span title ="This document has not been signed yet." th:unless="${document.isSigned}">
                         <img src="/images/red_x.png" alt="False" width="20" height="20">
                    </span>
                </td>
                <td>
                 <span title="The integrity of this signed document has been verified." th:if="${document.isVerified}">
                     <img src="/images/greentick.png" alt="True" width="20" height="20">
                 </span>
                    <span title="The integrity of this signed document has not yet been verified" th:unless="${document.isVerified}">
                         <img src="/images/red_x.png" alt="False" width="20" height="20">
                    </span>
                </td>
                <td>
                    <input type="radio" name="selectedDocumentId" th:value="${document.id}" tabIndex="1"
                           th:attr="data-document-name=${document.name}">
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" tabIndex="2" class="btn btn-success">Verify Document</button>
        <button type="button" tabindex="3" class="btn btn-info" data-toggle="modal" data-target="#downloadDocumentModal">Download Document</button>
        <a th:href="@{/dashboard}" class="btn btn-secondary" tabindex="4">Back</a>
    </form>
</div>


<div class="modal fade" id="downloadDocumentModal" tabindex="-1" role="dialog" aria-labelledby="downloadDocumentModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="downloadDocumentModalLabel">Are you sure you wish to delete this document?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/download-document" method="get">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="selectedDocumentId">Selected Document ID:</label>
                        <span id="downloadSelectedDocumentId" th:text="${selectedDocumentId}"></span>
                    </div>
                    <div class="form-group">
                        <label for="selectedDocumentName">Selected Document Name:</label>
                        <span id="downloadSelectedDocumentName" th:text="${selectedDocumentName}"></span>
                    </div>
                </div>
                <input type="hidden" id="downloadSelectedDocumentIdValue" name="downloadSelectedDocumentIdValue" th:value="${selectedDocumentId}">
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Download Document</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script th:inline="javascript">
    $(document).ready(function () {
        $('input[type=radio][name=selectedDocumentId]').change(function () {
            var selectedDocumentId = $(this).val();
            var selectedDocumentName = $(this).data('document-name');
            // put the document information from the document selected by the user into the modal view and display to user.
            $('#selectedDocumentId').text(selectedDocumentId);
            $('#selectedDocumentName').text(selectedDocumentName);
            $('#selectedDocumentIdValue').val(selectedDocumentId);
            $('#deleteSelectedDocumentId').text(selectedDocumentId);
            $('#deleteSelectedDocumentName').text(selectedDocumentName);
            $('#deleteSelectedDocumentIdValue').val(selectedDocumentId);
            $('#downloadSelectedDocumentId').text(selectedDocumentId);
            $('#downloadSelectedDocumentName').text(selectedDocumentName);
            $('#downloadSelectedDocumentIdValue').val(selectedDocumentId);
        });
    });

    $(document).ready(function () {
        var radioButtons = document.querySelectorAll('input[type="radio"]');
        radioButtons.forEach(function(button) {
            button.title = "Select document: " + button.getAttribute("data-document-name");

            button.addEventListener('keypress', function(event) {
                if (event.key === 'Enter' || event.keyCode === 13) {
                    event.preventDefault();
                    button.checked = true;
                }
            });
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
