<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shared Documents</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:replace="fragments/navbar :: myNavbar "></div>
<div class="container">
    <h1>Documents Shared With Me</h1>
    <form action="#" method="post">
        <table class="table">
            <thead>
            <tr>
                <th>Document ID</th>
                <th>File Name</th>
                <th>Shared By</th>
                <th>Upload Date</th>
                <th>Sign Status</th>
                <th>Signed On</th>
                <th>Verification Status</th>
                <th>Verification Date</th>
                <th>Select Document</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="document : ${sharedDocuments}">
                <td th:text="${document.id}"></td>
                <td th:text="${document.name}"></td>
                <td th:text="${document.email}"></td>
                <td th:text="${document.uploadedOn}"></td>
                <td th:text="${document.isSigned}"></td>
                <td th:text="${document.signedOn}"></td>
                <td th:text="${document.isVerified}"></td>
                <td th:text="${document.verifiedOn}"></td>
                <td>
                    <input type="radio" name="documentId" th:value="${document.id}">
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Verify Document</button>
        <a th:href="@{/dashboard}" class="btn btn-secondary">Back</a>
    </form>
</div>
</body>
</html>
