<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Documents</title>
    <div th:replace="~{fragments/navbar :: myNavbar}"></div>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>User Documents</h1>
    <form action="#" method="post">
        <table class="table">
            <thead>
            <tr>
                <th>Document ID</th>
                <th>Document Title</th>
                <th>Uploaded By</th>
                <th>Uploaded On</th>
                <th>Sign Status</th>
                <th>Date of Signature</th>
                <th>Select Document</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="document : ${userDocuments}">
                <td th:text="${document.id}"></td>
                <td th:text="${document.name}"></td>
                <td th:text="${document.email}"></td>
                <td th:text="${document.uploadedOn}"></td>
                <td th:text="${document.isSigned}"></td>
                <td th:text="${document.signedOn}"></td>
                <td>
                    <input type="radio" name="documentId" th:value="${document.id}">
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Sign Document</button>
        <button type ="submit" class="btn btn-primary">Send Document</button>
        <a href="#" class="btn btn-secondary">Back</a>
    </form>
</div>
</body>
</html>
